.body{
    // width: 90%;
    height: 100vh;
    overflow-y: scroll;

    input:focus{
        outline: none;
    }
    .top{
        
        height: 80%;
        border-radius: 0 0 12px 12px;
        padding: 25px 80px;

        .background{
            width: 70%;
            height: 110%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
          background-color: aliceblue;
          border-radius: 16px;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);

        }
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 10%;
              .auths{
                  margin-left: 32px;
              }
            .links, .auths{
                display: flex;
                align-items: center;
                
                .login{
                    width: 100px;
                    height: 40px;
                    background: rgba(6, 148, 42, 0.2);
                    border-radius: 50px;
                    color:  #06942A;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 12px;
                    font-weight: 600;
                    
                }
                p{
                    margin: 10px;
                    // font-family: Graphik;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color:  #3F403F;
                    
// letter-spacing: 0em;
// text-align: left;

                }
            }
        }
        .content{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            .write-up{
                flex-basis: 43%;
                width: 43%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                
                h1{
                    // font-family: GT Walsheim Pro;
                     font-size: 42px;
                    font-style: normal;
                    font-weight: 700;
                     line-height: 55px;
                   letter-spacing: 0em;
                        
                   span{
                    color:  #06942A;
                       
                   }
                }
                p{
                    // font-family: Graphik;
                    width: 90%;
                   font-size: 14px;
                  font-style: normal;
                   font-weight: 400;
                  line-height: 32px;
                  letter-spacing: 0em;
                  color:  #3F403F;


                }
                .inputs{
                    width: 90%;
                    display: flex;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50px;
                    align-items: center;

                    ::placeholder{
                        color: #9B9B9B;
                        // font-family: Graphik;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        // text-align: left;
                        
                    } 
                    input{
                        border:none;
                    padding: 4px 12px;
                    height: 100%;

                        // width: 45%;
                    }
                    div{
                        display: flex;
                        border-left: 1px solid #E5E5E5
                    }
                    .location{
                         position: relative;
                         display: flex;
                         align-items: center;
                         height: 100%;
                         width: 40%;
                         background-color: white;
                         input{
                             margin-left: 16px;
                             width: 80%;
                         }
                         span{
                             position: absolute;
                             
                         }
                    }

                    .search_bar{
                        background-color: #06942A;
                        width: 10%;
                        height: 100%;
                        border-radius: 0 50px 50px 0 ;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div{
                            border: none;
                        }
                    }
                }
                .trusted{
                    width: 100%;

                    p{
                        // font-family: Graphik;
                         font-size: 16px;
font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                    .trusted_logos{
                        display: flex;
                        width: 80%;
                        height: 35px;
                        justify-content: space-between;

                        img{
                            height: 100%;
                        }
                    }
                }
            }

            .image{
                width: 43%;
                flex-basis: 43%;
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                padding: 32px;
                margin-left: 64px;

                .img_container{
                    width: 80%;
                    height: 80%;
                    position: relative;
                    border: 2px solid #06942A;
                    border-radius: 12px;
                    .span{
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        // margin: 0 12px 12px 0;
                        position: absolute;
                        left: -12px;
                        top: -12px;
                        overflow: hidden;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }
}